.wrapper {
    display: flow-root;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px 8px;
    border-top: 1px solid #f0f0f1;

    .label {
        color: #161823bf;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 16px;
    }

    .label-tag {
        margin: 0 8px 12px 0;
        padding: 3px 10px;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
