.wrapper {
    display: flow-root;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px 8px;
    border-top: 1px solid #f0f0f1;

    .title {
        padding: 0;
        margin: 5px 6px 0 0;
        min-width: auto;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        color: rgba(22, 24, 35, 0.5);

        &:hover {
            text-decoration: underline;
        }
    }

    .footer-item {
        margin-bottom: 8px;
    }

    .label {
        color: rgba(22, 24, 35, 0.5);
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        display: inline-block;
        margin-right: 6px;
        margin-top: 5px;
    }
}
